body {
  margin: 0;
  background: black;
  color: #dedede;
  font-family: monospace;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: manipulation;
}
button {
  padding: 8px 32px;
  margin: 0px 8px;
  border-radius: 4px;
  background: unset;
  border: 1px solid #dedede;
  color: #dedede;
  cursor: pointer;
}
button:hover {
  filter: brightness(120%);
}
button:active {
  filter: brightness(80%);
  transform: translateY(1px);
}
button:disabled {
  cursor: default;
  color: #888;
  filter: brightness(80%);
  border-color: #aaa;
}
input[type='text'] {
  padding: 7px 8px;
  width: 120px;
}
input[type='range'] {
  padding: 7px 8px;
  width: 100%;
}
h4 {
  text-align: center;
  margin: 0;
}
h2 {
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  .center {
    width: 100% !important;
  }
}
.root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.root-ui {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}
.center {
  width: 500px;
  position: relative;
}
.pane {
  pointer-events: all;
  border: 1px solid #dedede;
  background: #333;
  margin: 8px 2px;
  padding: 1rem;
}
.pane-primary {
  border-color: green;
}
.pane-secondary {
  border-color: #888;
}
.flex-hz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.underlined {
  text-decoration: underline;
}
.label {
  margin-right: 8px;
  color: cyan;
}
.link {
  cursor: pointer;
  text-decoration: underline;
  color: cyan;
}
.game-line {
  margin: 4px;
}
.primary {
  background: darkgreen;
}
.secondary {
  background: darkblue;
}
.cancel {
  background: darkred;
}
#game {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 8000px;
  height: 8000px;
  /* transform: translate(calc(-2000px + 1500px/2), calc(-2000px + 1200px/2)); */
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-image: url(clouds.png);
  cursor: grab;
}
#game-ui {
  position: absolute;
  width: calc(100% - 38px);
  bottom: 0px;
}
#game-ui-top {
  position: absolute;
  width: calc(100% - 38px);
  top: 0px;
  pointer-events: all;
  padding: 8px;
  text-align: center;
}
#game-ui-mid {
  position: absolute;
  top: 0px;
  width: calc(100% - 38px);
  height: 100%;
  display: flex;
  /* pointer-events: all; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
#canv {
  border: 1px solid white;
  box-sizing: border-box;
  opacity: 0.75;
}
