BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80